/*MENSAGEM DE ALERTA E TIPOS DE ERRO*/
.alerta {
    display: none;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
}
.success {
    background-color: rgba(69, 219, 104,.7);
    border: 1.5px solid rgba(50, 183, 81,.7);
}

.caution {
    background-color: rgba(233, 209, 5,.7);
    border: 1.5px solid rgba(255, 252, 0,.7);
}

.error {
    background-color: rgba(246, 77, 77,.7);
    border: 1.5px solid rgba(203, 54, 54,.7);
}

.contato_loadicon{
    display: none;
    width: 36px;
    height: 36px;
    background: url('boot/loading.gif') center center no-repeat;
    background-size: 36px;
    margin: 20px auto 5px auto;
}