@charset "utf-8";
/* CSS BASE  */

@import url(reset.css); /*--- RESET ---*/

/* -------------------------- GERAL ----------------------------  */

/* ----------------- ALTERA COR DO TEXTO SELECIONADO -----------  */
*::-moz-selection {
  background: #000; /*---Cor de fundo--*/
  color: #fff; /*--cor da fonte--*/
}
*::selection {
  background: #000; /*---Cor de fundo--*/
  color: #fff; /*--cor da fonte--*/
}
/* ----------------- ALTERA COR DO TEXTO SELECIONADO -----------  */

/* ----------------- ELEMENTOS GENÉRICOS -----------  */
.container {
  width: 100%;
  float: left;
  background-color: #eeeeee;
}
.content {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.clear {
  clear: both;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
b {
  font-weight: 700;
}
.fale-wpp {
  display: flex;
  align-items: center;
}
.fale-wpp img {
  margin-left: 10px;
}
button {
  margin: 0;
  padding: 0;
  appearance: 0;
  background-color: transparent;
  border-width: 0;
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
a {
  font: 400 16px MyriadPro_Regular;
}

.fontzero {
  font-size: 0px !important;
}

h2 {
  font: 700 40px MyriadPro_Regular;
  text-align: center;
  margin: auto;
}

h3 {
  font-weight: 600;
  letter-spacing: 0.5px;
  max-width: 100px;
  text-align: center;
}

h4 {
  font: 900 20px MyriadPro_Regular;
}

p {
  text-align: justify;
}

section header {
  margin-top: 100px;
}

header p {
  text-align: center;
  margin: 10px  auto 0 auto;
  max-width: 420px;
}

.button-more {
  display: block;
  margin: auto;
}

.button-more a {
  background-color: #9a9b9d;
  border-radius: 10px;
  padding: 20px 50px;
  color: #fff;
  transition: background 0.3s;
  display: block;
}

.button-more a:hover {
  background: #4f4c4c;
}

.alerta_erro {
    color: red;
    background: #ca92b8;
    padding: 10px;
    margin-top: -20px;
}
.botoes {
    text-align: center;
}
.conteudo-botoes {
    margin: 0 auto;
}
.conteudo-botoes li {
    display: inline-block;
    margin: 30px 10px 0;
}
.bt {
    color: #5777a5;
    font-family: "SourceSansPro-Regular", sans-serif;
}
.active {
    color: #26426b;
    font-weight: bold;
}

/*
  Topo
*/

.top {
  background: linear-gradient(to right, #f2f3f3, #eff0f1, #d1d3d6);
  padding-top: 32px;
}

.top .content_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top img {
  margin: 0 auto;
  margin-bottom: 45px;
}

.navegation ul {
  justify-content: center;
}
.navegation ul.main_navigator {
  position: relative;
}

.navegation .menu-mobile {
  display: none;
}

.navegation li:nth-child(1) {
   margin: 0;
}

.main_navigator li {
  margin-left: 108px;
  border-bottom: none;
  transition: border-bottom 0.1s;
}

.main_navigator li a {
  display: block;
  padding-bottom: 40px;
  /*border-bottom: 2px solid transparent;*/
}

.main_navigator li a:hover {
  font-weight: 600;
  border-bottom: 2px solid #fcc129;
}

.main_navigator li.menu_ativo a {
  border-bottom: 2px solid #fcc129;
  font-weight: 600;
}


/*
  Submenu
*/

.main_navigator li.informacao {
    position: relative;
    cursor: pointer;
}
.submenu {
    position: absolute;
    top: 60px;
    left: 67%;
    background: #272525;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: left;
    width: 220px;
}
.submenu li {
    margin-top: 5px;
    display: block;
    margin-left: 0 !important;
}
.submenu li a {
    cursor: pointer;
    font-size: 14px;
    color: #d4d3d3;
    text-align: left;
    padding-bottom: 0;
}
.submenu li a:hover {
    color: #fff;
}

/*
  Footer
*/

footer {
  background-image: linear-gradient(to right, #060606, #282727);
  text-align: center;
  color: white;
}

.principal {
  padding: 250px 0 350px 0;
  background: url(../imagens/home/detalhe_rodape-final.png) no-repeat bottom
    center;
}

.principal > img {
  margin-bottom: 50px;
}

.principal .block-address {
  justify-content: space-evenly; 
  margin-bottom: 50px;
}

.principal .block-address address h3 {
  max-width: none;
  letter-spacing: 2px;
  color: #fcc129;
  text-align: center;
}

.principal .block-address address p {
  text-align: center;
}

.principal .block-address address:last-child div {
  align-items: center;
  justify-content: center;
}

.principal .block-address address:last-child div p {
  margin-right: 5px;
}

.principal .block-address address:last-child div a {
  color: #fff;
  text-decoration: underline;
}

.principal .block-address-social a:nth-child(2) {
  margin: 0 30px;
}


/*
 ----------------- ELEMENTOS FLEX ----------- 
 */
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.flex-container {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}